/*================================================================
    VARIABLES 
================================================================*/

/* Declaring color variables. This makes it easy to change colors in the future, and also easier to read the code. */
:root {
  --main-bg-color: #060606;
  --main-text-color: #ffffff;
  --main-accent-color: #00ffff;
  --light-accent-color: #c7ffff;
  --dark-accent-color: #00adad;
  --darker-accent-color: #006161;
  --x-dark-accent-color: #004d4d;
  --xx-dark-accent-color: #003030;
}

/*================================================================
    BACKGROUND 
================================================================*/

body {
	background-color: var(--main-bg-color);
}

/*================================================================
    TEXT 
================================================================*/

/* Heading 1 */
h1 {
    color: var(--main-text-color);
    font-family: "JetBrains Mono", "Roboto Mono", "Courier New", monospace;
    font-size: 9vw;
    font-weight: normal;
    text-align: center;
}

.h1_blue_outline {
    color: var(--main-bg-color);
    text-shadow:
        -1px -1px 0 var(--main-accent-color),
        1px -1px 0 var(--main-accent-color),
        -1px  1px 0 var(--main-accent-color),
        1px  1px 0 var(--main-accent-color);
    font-family: "JetBrains Mono", "Roboto Mono", "Courier New", monospace;
    font-size: 9vw;
    font-weight: bold;
    text-align: center;

    /* Previous way I did the outline. It did allow transparency for the letters, but the outline looked worse. */
    /* -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--main-accent-color); */
}

/* Heading 2 */
h2 {
    color: var(--main-text-color);
    font-family: "Poppins", "Verdana", sans-serif;
    font-size: clamp(1rem, 5vw, 5rem);
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}

/* Heading 3 (used as a subtitle) */
h3 {
    color: var(--main-text-color);
    font-family: "JetBrains Mono", "Roboto Mono", "Courier New", monospace;
    font-size: 3.53vw;
    font-weight: 100;
    text-align: center;
    line-height: 0rem;
}

/* Paragraph text */
p {
    color: var(--main-text-color);
    font-family: "JetBrains Mono", "Roboto Mono", "Courier New", monospace;
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: regular;
    line-height: 2rem;
    text-align: left;
}

/* Small text (text for footer) */
small {
    color: var(--main-text-color);
    font-family: "JetBrains Mono", "Roboto Mono", "Courier New", monospace;
}

.italic {
    font-style: italic;
}

/*================================================================
    LINKS
================================================================*/

/* Link style for main links, with rising highlight. */
a.rising_highlight {
	color: var(--main-accent-color);
    text-decoration: none;
	font-weight: 700;
    position: relative;
}

a.rising_highlight::before {
  content: '';
  background-color: var(--x-dark-accent-color);
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

a.rising_highlight:hover::before {
  bottom: 0;
  height: 100%;
}

a.rising_highlight:visited {
    color: var(--main-text-color);
}

/*================================================================
    BANNER
================================================================*/

/* Banner is not currently in use, website has been simplified */
/* .skull_banner {
    margin-top: 11vw;
    height: 10vw;
    overflow: hidden;
    position: relative;
}

.skull_banner img {
    height: 100%;
    width: auto;
    min-width: 250%;
    display: block;
} */

/*================================================================
    NAVIGATION
================================================================*/

/* Link style for navigation links */
a.navigation {
    color: var(--main-text-color);
    font-family: "Poppins", "Verdana", sans-serif;
    font-size: clamp(0.5rem, 1.5vw, 2rem);
    font-weight: 650;
    text-decoration: none;
    text-transform: uppercase;

    transition: color 0.6s ease;
}

a.navigation:hover {
    color: var(--main-accent-color);
}

/* Logo of skull that is also a link (top left on website) */
.skull_logo {
    width: 4vw;
    margin-right: 1.5vw;
    /* position: relative;
    display: inline-block; */
}

.skull_logo img {
    /* display: block; */
    width: 100%;
    height: auto;
}

/* I tried to make a cyan skull that is under the white skull, so that the skull could turn cyan when hovered over; I was unsuccessful. */
/* .skull_white,
.skull_cyan {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.2s ease;
}

.skull_cyan {
    opacity: 0;
}

/* hover swap */
/* .skull_logo:hover .skull_white {
    opacity: 0;
}

.skull_logo:hover .skull_cyan {
    opacity: 1;
}  */

/* Navigation menu */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* This makes it sit on top of all of the content of the page */

    background: #06060688;
    backdrop-filter: blur(8px);
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    padding: 1vw 0;
}


/*================================================================
    HOME
================================================================*/

.home {
    margin-top: 12vw;
}

/*================================================================
    ABOUT
================================================================*/

.about h2 {
    margin-top: 25vw;
    margin-left: 4vw;
    margin-bottom: -6vw;
}

.about-box {
    position: relative;
    width: 95%;
    margin: 0 auto;
}

.about-box img {
    display: block;
    width: 100%;
    height: auto;
}

.about-text {
    position: absolute;

    top: 18%;
    left: 8%;
    right: 8%;
    bottom: 12%;

    display: flex;
    align-items: center;
}

.about-text p {
    margin: 0;
    font-size: clamp(0.4rem, 2vw, 2rem);
    line-height: 1.9;
}

/*================================================================
    PORTFOLIO
================================================================*/

.portfolio h2 {
    margin-top: 20vw;
    margin-left: 4vw;
    margin-bottom: -8vw;
}

.portfolio img {
    position: relative;
    display: block;
    margin-left: 2vw;
    margin-right: auto;
    width: 75%;
    height: auto;
}

th {    /* Header row */
    background-color: var(--main-bg-color);
    padding: 2vw;
    border-bottom: 1px solid var(--main-accent-color);

    color: var(--main-text-color);
    font-size: clamp(0.5rem, 3vw, 1.5rem);
    /* font-family: "JetBrains Mono", "Roboto Mono", "Courier New", monospace; */
    font-family: "Poppins", "Verdana", sans-serif;
    text-transform: uppercase;
    line-height: 2.5vw;
}

table {
    width: 95%;
    margin: 15vw auto;
    border-collapse: collapse;

    color: var(--main-accent-color);
    font-size: clamp(0.5rem, 2.5vw, 1.5rem);
    font-family: "JetBrains Mono", "Roboto Mono", "Courier New", monospace;
    line-height: 8vw;
}

td {
    padding-left: 5vw;
}

/* Makes the text in the 'Date' column white */
table tr td:nth-child(2) {
    color: var(--main-text-color);
}
 
table caption {  /* Hides the table caption */
    display: none;
}

/*================================================================
    CONTACT
================================================================*/

/* Contact Form Version 1, I simplified the concept for version 2 */
/* .contact h2 {
    text-align: center;
}

.contact-box {
    position: relative;
    width: 95%;
    margin: 0 auto;
}

.contact-background img {
    display: block;
    width: 100%;
    height: auto;
}

.contact-border {
    position: absolute;
    inset: 0;
}

.contact-border img {
    width: 100%;
    height: auto;
    display: block;
}

.contact form {
    position: absolute;

    top: 12%;
    left: 12%;
    right: 12%;
    bottom: 12%;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    z-index: 2;
} */


.contact h2 {
    margin-top: 20vw;
    margin-left: 4vw;
    margin-bottom: -6vw;
}

.contact-box {
    position: relative;
    width: 95%;
    margin: 0 auto;
}

.contact-box img {
    display: block;
    width: 100%;
    height: auto;
}

.contact-text {
    position: absolute;
    
    top: 24%;
    left: 8%;
    right: 8%;
    bottom: 18%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact form {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 5vw;
}

.contact label {
    /* color: var(--main-text-color);
    font-size: clamp(0.7rem, 1vw, 1rem);
    letter-spacing: 0.05em; */  /* From before I removed contact form labels */
    display: none !important; /* Removes labels from contact form */
}

.contact input:focus {
    border-color: var(--main-accent-color);
    box-shadow: 0 0 1vw rgba(0, 255, 255, 0.4);
}

.contact input::placeholder {
    color: var(--darker-accent-color);
    letter-spacing: 0.05em;
}

.contact input[type="text"],
.contact input[type="email"] {
    background: var(--main-bg-color);
    border: 1px solid var(--main-accent-color);
    color: var(--main-text-color);

    padding: 0.8vw 1vw;
    font-size: clamp(0.3rem, 1.4vw, 2.5rem);

    outline: none;
    transition: 0.2s ease;
    font-family: "JetBrains Mono", "Roboto Mono", "Courier New", monospace;
}

.contact input[type="submit"] {
    margin-top: 1vw;

    background: transparent;
    border: 1px solid var(--main-accent-color);
    color: var(--main-accent-color);

    padding: 1vw;
    font-size: clamp(0.3rem, 1.6vw, 2rem);

    font-family: "Poppins", "Verdana", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    cursor: pointer;
    transition: 0.2s ease;
}

.contact input[type="submit"]:hover {
    background: var(--main-accent-color);
    color: var(--main-bg-color);
    box-shadow: 0 0 1vw rgba(0, 255, 255, 0.5);
}

/*================================================================
    FOOTER
================================================================*/

.footer-box {
    margin-top: 4vw;
}